*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    position: relative;
    .bar{
        width: 40px;
        height: 100%;
        background: linear-gradient(rgb(58, 112, 179), rgb(102, 47, 185));
    }
    .side{
        position: absolute;
        z-index: 3;
        top: 10px;
        left: 10px;
        background: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 8px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.303);
        font-size: 17px;
        color: rgb(3, 45, 96);
        cursor: pointer;
    }
    .contentSidebar{
        background: linear-gradient(rgb(58, 112, 179), rgb(102, 47, 185));
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 40px 0;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        position: absolute;
        z-index: 1;
        padding-right: 10px;
        &::before{
            content: "";
            width: 100%;
            height: 172px;
            //background: rgba(176, 9, 9, 0.657);
            background: rgb(243, 243, 243);
            position: absolute;
            left: 0;
            // top: -74px;
            top: -160px;
            border-bottom-left-radius: 60px;
            z-index: 1;
        }
        &::after{
            content: "";
            width: 100%;
            height: 167px;
            // background: rgba(176, 9, 9, 0.657);
            background: rgb(243, 243, 243);
            position: absolute;
            left: 0;
            bottom: -155px;
            border-top-left-radius: 60px;
            z-index: 1;
        }
        .navs{
            font-size: 17px;
            color: rgba(255, 255, 255, 0.819);
            padding: 5px;
            border-radius: 8px;
            transition: .2s;
            cursor: pointer;
            &:hover{
               color: rgba(58, 112, 179, 0.674);
               background: rgba(255, 255, 255, 0.837);
            }
        }
        .active{
            color: rgb(58, 112, 179);
            background: rgba(255, 255, 255, 0.883);
        }
    }
    .help_logout{
        position: absolute;
        z-index: 3;
        bottom: 10px;
        left: 10px;
        background: white;
        padding: 13px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 13px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.303);
        cursor: pointer;
        .help, .logout{
            font-size: 17px;
            color: rgb(3, 45, 96);
            &:hover{
                font-weight: bolder;
            }
        }
    }
}