*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.AccueilAgent{
    width: 100%;
    margin-left: auto;
    position: relative; 
    
    .cadreHeader{
        width: 100%;
        height: 100px;
        margin-top: 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        border-bottom: 1px solid rgba(1, 28, 36, 0.171);
        padding-bottom: 10px;
        .AgentSpace{
            width: 60%;
            height: 100%;
            border: 1px solid rgba(1, 28, 36, 0.247);
            border-radius: 5px;
            background: url(../assets/pexels-cottonbro-5054213.jpg) rgba(7, 12, 14, 0.452) !important;
            background-position: center !important;
            background-size: cover !important;
            background-blend-mode: darken !important;
            padding: 5px 10px;
            position: relative !important;
            overflow: hidden;
            h2{
                font-size: 15px;
                color: rgba(255, 255, 255, 0.719);
                border-bottom: 1px solid rgba(255, 255, 255, 0.459);
                padding: 0 30px 2px 0;
                width: fit-content;
                position: absolute;
                z-index: 2;
                left: 10px;
                top: 5px;
            }
            p{
                color: rgba(255, 255, 255, 0.781);
            }
            .bg{
                &::before {
                    content: '';
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: -100px;
                    top: -160px;
                    bottom: 0;
                    width: 320px;
                    height: 320px;
                    background: linear-gradient( 60deg,#013131e0, #01131b, #023f3fc7);
                    border-radius: 50%;
                    z-index: 1;
                }
            }
        }
        .cadre{
            width: 39%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .plaintes, .services, .agent, .messagess{
                width: 49%;
                height: 100%;
                border: 1px solid rgba(1, 28, 36, 0.247);
                border-radius: 5px;
                padding: 20px 10px ;
                h2{
                    text-align: center;
                    color: rgba(1, 26, 32, 0.801);
                }
                .ictext{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5px;
                    .ico{
                        font-size: 17px;
                        margin-right: 7px;
                        color: rgba(1, 14, 22, 0.863);
                    }
                    h3{
                        font-size: 15px;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .AccueiContent{
        width: 100%;
        height: calc(100vh - 150px);
        display: flex;
        gap: 4px;
        align-items: start;
        justify-content: space-between;
        margin-top: 10px;
        border-radius: 3px;
        padding: 0 5px;
        margin-bottom: 10px;
        position: relative;
        .content{
            padding-bottom: 30px;
            top: 0;
            left: 0;
            width: 75%;
            height: 100%;
            border: 1px solid rgba(1, 28, 36, 0.144);
            border-radius: 5px;
            position: relative;
            background: #0000000e;
            .headerContent{
                padding: 10px;
                h3{
                    font-size: 15px;
                }
                .head{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid rgba(1, 28, 36, 0.123);
                    padding-bottom: 5px;
                    margin-top: 5px;
                    .filtre{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        p{
                            border: 1px solid rgba(2, 34, 44, 0.226);
                            padding:5px 10px;
                            font-size: 13px;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        .active{
                            background: rgba(1, 28, 36, 0.377);
                            color: white;
                        }
                        .filter{
                            display: flex;
                            gap: 5px;
                        }
                    }
                }
                .voirtout{
                    p{
                        background: #013022;
                        font-size: 12px;
                        padding: 5px 30px;
                        border-radius: 5px;
                        color: white;
                        cursor: btplt;
                    }
                }
            }
            .tableContentTous, .tableContentCategorie, .tableContentNom{
                width: 100%;
                padding: 0 5px;
                .tableHead{
                    width: 100%;
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 6px 5px 6px;
                    border-bottom: 1px solid rgba(1, 28, 36, 0.171);
                    h3{
                        font-size: 13px;
                        color: rgba(36, 35, 35, 0.856);
                        background: rgba(1, 28, 36, 0.164);
                        padding: 6px 9px;
                        border-radius: 2px;
                    }   
                    .nbr{
                        width: 110px !important;
                    }
                    .UName{
                        width: 50%;
                    }
                    .catego{
                        width: 160px;
                    } 
                    .nbrTch{
                        width: 90px;
                    }
                    .action{
                        width: 70px;
                    }
                }
                .contenTable{
                    display: flex;
                    gap: 4px;
                    width: 100%;
                    justify-content: space-between;
                    padding: 5px 6px;
                    border-bottom: 1px solid rgba(1, 28, 36, 0.089);
                    .nbr{
                        width: 110px;
                        text-align: end;
                    }
                    .UName{
                        width: 50%;
                    }
                    .catego{
                        width: 160px;
                    }
                    .nbrTch{
                        width: 90px;
                        text-align: end;
                    }
                    .action{
                        width: 70px;
                        display: flex;
                        position: relative;
                        overflow: hidden;
                        align-items: center;
                        justify-content: center;
                    }
                    p{
                        background: #3a3a3a0a;
                        padding: 5px 10px;
                        font-size: 11px !important;
                    }
                }
            }
        }
        .rightContent{
            width: 25%;
            background: #0000000e;
            height: 100%;
            border: 1px solid rgba(1, 28, 36, 0.144);
            border-radius: 5px;
            .taches{
                h2{
                    padding: 10px;
                    font-size: 14px;
                }
                .taskLists{
                    padding: 3px;
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    .list{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: #3a3a3a0a;
                        padding: 5px 10px;
                        font-size: 12px;
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}