*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Footer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    background: rgb(4, 55, 65) ;
    position: relative;
    .left{
        opacity: 50%;
        width: 23%;
        height: 100%;
        background: url(../Assets/shape-02.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .center{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        gap: 50px;
        padding: 120px 120px;
        .leftincenter{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .about{
                .logo{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .photo{
                        width: 60px;
                        height: 60px;
                        display: none;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    h3{
                        font-size: 25px;
                        font-weight: bolder;
                        color: rgba(150, 168, 167, 0.861);
                    }
                }
                .spann{
                    padding-top: 10px;
                    font-size: 16px;
                    color: rgba(150, 168, 167, 0.861);
                }
            }
            .contact{
                display: flex;
                flex-direction: column;
                font-size: 17px;
                color: rgba(150, 168, 167, 0.861);
                font-weight: bolder;
            }
        }
        .rightincenter{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            h3{
                font-size: 25px;
                font-weight: bolder;
                color: rgba(150, 168, 167, 0.861);
            }
            .link{
                margin-top: 20px;
                color: rgba(150, 168, 167, 0.861);
                p{
                    font-size: 17px;
                }
            }
            .reseau_sociaux{
                margin-top: 60px;
                display: flex;
                align-items: center;
                gap: 10px;
                .r_s{
                    border: 1px solid rgba(150, 168, 167, 0.861);
                    padding: 2px;
                    p{
                        background: rgba(150, 168, 167, 0.861);
                        font-size: 20px;
                        padding: 10px;
                        color: rgb(4, 55, 65);
                    }
                }
            }
        }
    }
    .right{
        opacity: 40%;
        width: 30%;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat !important;
        height: 100%;
        background: url(../Assets/shape-01.svg);
    }
}